<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
<<<<<<< HEAD
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
=======
    <%= link_to "うぇーい",root_path,id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "Home",root_path%></li>
        <li><%=link_to "About",about_path%></li>
        <li><%=link_to "Help",help_path%></li>


      </ul>
    </nav>

>>>>>>> 6536699c0418a59c1db47b3ef648b4e6c2e5b91c
  </div>
</header>
